* {
  font-family: monospace;
}
body {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
body > div {
  max-width: 1100px;
  width: 100%;
}
header,
footer,
main {
  width: 100%;
  max-width: 1200px;
  background-color: rgb(239, 239, 239);
  padding: 1em;
}
header {
  display: flex;
  justify-content: center;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  padding: 1em;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(252, 252, 252);
}
button {
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 0.5em 1em;
  font-size: 16px;
  cursor: pointer;
}
button:disabled {
  cursor: default;
  background-color: rgb(105, 210, 175);
}
nav a {
  text-decoration: none;
  color: black;
}
nav a span {
  padding: 0.5em 1em;
  background-color: white;
  margin: 0.5em;
  border-radius: 5px;
}
.active {
  background-color: aquamarine;
}
.shop-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.product {
  max-width: 300px;

  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "photo photo"
    "text price";
}
.product img {
  max-height: 180px;
  padding: 1em 0;
  grid-area: photo;
  width: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0;
}
.product .title {
  grid-area: text;
  background-color: aliceblue;
  border-radius: 0 0 0 10px;
  padding: 1em;
}
.product .price {
  grid-area: price;
  background-color: aquamarine;
  border-radius: 0 0 10px 0;
  display: flex;
  align-items: center;
}
.description {
  max-height: 150px;
  overflow: scroll;
}

.image-genertion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image-genertion input {
  margin: 2em;
  width: 240px;
}

.product {
  display: grid;
  grid-template-areas:
    "title varleft varright"
    "variants variants variants"
    "description description description";
  padding: 1em;
}
.variants {
  grid-area: variants;
}
.var-left {
  grid-area: varleft;
}
.var-right {
  grid-area: varright;
}

.product h2 {
  grid-area: title;
}
.item-description {
  grid-area: description;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item-cost {
  grid-area: price;
}
.providers-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.providers-wrapper > div {
  background: white;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}
.providers-wrapper > div:hover {
  background: #f1f1f1;
  transition: all;
  transition-duration: 0.5s;
}
.blueprints-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}
.blueprints-wrapper img {
  width: 100%;
  height: auto;
}
.blueprints-wrapper > div {
  min-height: 200px;
}
.provider-details-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
.provider-details-wrapper img {
}

.provider-details h1 {
  font-size: 26px;
  font-weight: bold;
  padding: 1em 0;
}
